bytes-unit element is missing in Content-Range header of HTTP FT resume POST

```
according to RFC 2616, section 14.16 the Content-Range header must contain an 
element bytes-unit

This is missing in HttpUploadManager.sendPutForResumingUpload():
change 
<<<connection.setRequestProperty("Content-Range", (resumeInfo.getEnd()+1) + "-" 
+ (content.getSize()-1) + "/"
                + content.getSize());
to
>>>connection.setRequestProperty("Content-Range", "bytes " + 
(resumeInfo.getEnd()+1) + "-" + (content.getSize()-1) + "/"
                + content.getSize());

```

Original issue reported on code.google.com by `andreas-...@telekom.de` on 26 Jun 2014 at 1:44
