Set IMEI as SIP INSTANCE

```
According to RCS implementation guidelines v3.5 ID_4_33, embedded clients 
should use IMEI as SIP instance and should no longer be dependent on deviceID 
param.
In case IMEI is not available, uuid_Value is used from the provided 
configurations or else it is generated as per RFC4122, section 4.2.
As per 3GPP TS 24.229, IMEI is formatted like tac"-"snr"-"spare where tac=8 
digits, snr=6 digits and spare=1 digit.


```

Original issue reported on code.google.com by `lemordan...@gmail.com` on 19 Feb 2015 at 2:32
